/* 7.0: Adds .lastEdited styling */
/* 8.0: Updates #pre_header_status:li styling */
/* 8.3: Adjusts collection cover image size & placement */
/* 8.4: First dark version, Added announcement styling */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #272936;
    color: #eaeaea;
    margin: 10px 0 0;
}

input[type=text], input[type=password] {
	background-color: #002b36;
	height:21px;
}

body, input, textarea {
	background-color: #002b36;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
}

input[type=submit], input[type=button], input[type=file] {
	color:#aaa;
	background-color:#002b36;
	border:1px solid #666;
	padding:2px 6px;
	cursor:pointer;
	margin-left:-3px;
}

textarea, select, input[type=text], input[type=password] {
	color:#aaa;
	background-color:#002b36;
	border:1px solid #666;
	padding-left:2px;
	margin-right:1px;
}

a {
    color: #268bd2;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #6c71c4;
    text-decoration: none;
}

.title a {
	color: #b58900;
}

.title a:hover {
    color: #cb4b16;
}
.title a:visited {
    color: #696D71;
}
.taglist a {
    color: #93a1a1;
}
.taglist a:hover {
    color: #d33682;
}
img {
    border: medium none;
}
h1 {
    font-size: 22px;
}
h2 {
    border-top: 0 solid;
    font-size: 22px;
    padding-top: 0;
    text-align: left;
}
.announcement > p {
    margin: 30px;
}
.announcement > span:first-child {
    background: none repeat scroll 0 0 #002b36;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
}
.ann_title {
    font-size: large;
}

.ann_added {
    font-size: small;
    line-height: 30px;
    font-style:italic;
}

.ann_hr {
    width:50%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(42,161,152,1), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(42,161,152,1), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(42,161,152,1), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(42,161,152,1), rgba(0,0,0,0));
}

.title {
    color: #859900;
}

.torYear {
    color: #839496;
}

.torFormat{
    color: #93a1a1;
}

.torRetail {
    color: #2aa198;
}

.announcement {
#    border-bottom: 1px solid #808080;
    padding-bottom: 7px;
    padding-top: 15px;
}

#formerrorlist {
	color:#FF0000;
}

#superwrap {
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
    width: 1000px;
}
#pre_header {
#    color: #aaa;
    font-size: 12px;
    margin: 20px 0 3px;
    overflow: hidden;
    vertical-align: top;
}

#pre_header a {
    color: #2aa198;
}

#pre_header_status {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#pre_header_status li:first-child, #pre_header_status  li:first-child + li {
    float: left;
    margin-right:0.5em;
    padding: 0 6px 0 0;
    background: transparent url("/static/dot.gif") no-repeat center right;
}
#pre_header_status li {
    float: left;
    margin-right:0.5em;
    padding: 0;
}

#pre_header_nav {
    list-style-type:none;
    text-align: right;
    float: right;
    margin: 0;
    padding: 0;
}

#pre_header_nav li {
    float: right;
    margin:0;
    padding: 0 6px;
    background: transparent url(/static/dot.gif) no-repeat center right;
}

#pre_header_nav li:first-child {
    background:none;
}

#pre_header_nav li:nth-last-child(3) {
	clear: right;
	background: none;
}

#header {
    background-color: #073642;
    border: 2px solid #aaa;
    margin: 10px 0;
    overflow: hidden;
    padding: 25px 40px 10px;
}
#header_top {
    clear: both;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#header_logo {
    background-image: url("dark-logo.png");
    background-repeat: no-repeat;
    float: left;
    height: 40px;
    margin: 0;
    width: 170px;
}
#header_notifications {
    float: right;
    margin: 0;
    padding: 0 20px 0 0;
}
#header_notifications ul {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#freeleech {
    background: none repeat scroll 0 0 #B3D98C;
    list-style-type: none;
    padding: 4px;
}
#donate {
    float: right;
}
#donate a:link, #donate a:visited {
    background-color: #B0B0B0;
    color: #FFFFFF;
    font-size: 110%;
    line-height: 1.5;
    padding: 6px;
}
#donate a:hover, #donate a:active {
    background: none repeat scroll 0 0 #969696;
    color: #FAFAFA;
}
#header_nav {
    clear: both;
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
    vertical-align: bottom;
}
#header_nav_links {
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 5px 0 0;
}
#header_nav_links li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
}
#header_nav_search {
    float: right;
    margin: 0;
    padding-bottom: 2px;
    text-align: right;
}
#search_header {
    border: 1px solid;
	background-color: #002b36;
    padding: 5px;
    width: 230px;
}
#body {
    background-color: #073642;
    border: 2px solid #aaa;
    padding: 20px 40px;
}
#body > h1 {
    margin-top: 10px;
}
#body form ul#gallery li input{
	text-align: center;
}
#title {
    font-size: 28px;
    text-align: left;
}
#sidebar  {
    float: right;
    width: 230px;
	text-align: left;
}
#sidebar_links {
    padding-left: 10px;
}
#sidebar input[name="TagsField"] {
    background: none repeat scroll 0 0 #002b36;
    width: 155px;
}
#footer {
    border-top: 2px solid #aaa;
    height: 60px;
    margin: 20px 0;
    padding: 10px 40px 0;
}
#footer_nav {
    clear: both;
    color: #666;
    font-size: 12px;
    line-height: 1.1em;
}
#footer_nav ul {
    list-style-type: none;
    margin: 0 0 0 2px;
    padding: 0;
}
#footer_nav h4 {
    clear: left;
    float: left;
    margin: 0 1em 4px 0;
    padding: 0;
    width: 4em;
}
#footer_nav ul li {
    background: url("/static/dot.gif") no-repeat scroll right center transparent;
    float: left;
    margin: 0 0 4px;
    padding: 0 10px;
}
#footer_nav ul li:last-child {
    background: none repeat scroll 0 0 transparent;
}
#footer p {
    clear: left;
    padding-top: 1.5em;
}
#gallery {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: left;
}
.coverResize {
	height: auto;
	width: 80px;
}
#gallery li {
	display: inline-block;
	padding: 5px;
	vertical-align: top;
}
.details_torrents {
    font-size: 18px;
}
.details_requests, .details_collections, .details_authors, .details_artists, .details_publishers, #published {
    font-size: 14px;
    line-height: 1.1em;
}
.details_peers, .details_snatches {
    font-size: 14px;
}

#details_upload_info, #details_file_info, #details_content_info {
    font-size: 14px;
    line-height: 0.8em;
}

#details_file_info {
	padding-top: 0.8em !important;
}

#details_tags, #creatorlist, #secondarycreatorlist {
	text-align: left;
}

#CommentField {
    background-color: #002b36;
	margin-bottom: 20px;
    resize: none;
    width: 830px;
}

#published {
    line-height: 0.8em;
}
#main {
    float: left;
    width: 670px;
}
#main h2 {
    margin: 0 0 10px;
}
#detailsbox {
    width: 80%;
    margin-bottom: 20px;
}

#detailsbox > p {
    margin: 0 0 0 10px;
    padding: 3px 3px 3px 1.8rem;
    text-indent: -1.8rem;
}

#detailsbox > p#details_last_seed_info {
    padding: 0 28px 10px;
}
#detailsbox > p#details_ratio_info {
    padding: 0 28px 10px;
}

#creatorlist {
    font-size: 1.4rem;
}

#secondarycreatorlist {
    font-size: 1.1rem;
}

#details_links {
    border-bottom: 1px solid #808080;
    padding-bottom: 15pt;
    padding-top: 10px;
}
#files {
    padding-bottom: 20px;
}
#description {
    border-bottom: 1px solid #808080;
    line-height: 20px;
    padding-bottom: 15pt;
}
.fill_deleted {
	text-decoration:line-through;
	border-bottom: 1px dotted;
}
.pagination {
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
}
.table_div table tbody tr:hover {
    background-color: #002b36;
}
.table_div table th {
	background-color: #002b36;
}
.table_div table th a {
    color: #aaa;
}
.t_comments, .t_snatches, .t_seeders, .t_leechers {
    width: 20px;
}
.t_files_size_added {
    white-space: nowrap;
}
#filter_list {
    margin: 0;
    padding: 0;
}
#filter_list li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-right: 5px;
}
#YearField {
    width: 50px;
}
#comments {
    clear: both;
    padding: 10px 0 0;
}
#comments table {
    width: 100%;
}
.comment {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}
.comment_header {
    background: none repeat scroll 0 0 #002b36;
    border: 1px solid;
    height: 1.5em;
    padding: 8px 0 8px 5px;
}
.comment_avatar {
    margin: 12px 4px 4px;
    vertical-align: top;
    width: 88px;
}
.comment_text {
    padding: 10px 0 0 10px;
    text-align: left;
    vertical-align: top;
}
#forumWrap h3 {
    margin: 1em 0 0;
    padding: 0 0 0.5em 5px;
}
.forums, #forum_topics, .table_div table {
    # border-color: #000000;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: left;
    width: 100%;
}
.forums thead, #forum_topics thead, #forum_topics tfoot, .table_div table thead, .table_div table tfoot {
    background-color: #002b36;
    height: 3em;
#	border-style: solid;
#	border-width: 1px 0 0 0;
}
.forums td, .forums th, #forum_topics th, #forum_topics td, .table_div table th, .table_div table td {
    margin: 0;
    padding: 2px 5px;
}
.forums tbody td, #forum_topics tbody td, .table_div table tbody td {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    # border-color: #000000 #E3E3E3 #E3E3E3;
    border-style: solid;
    border-width: 1px 1px 0 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.forums tbody td:last-child, #forum_topics tbody td:last-child, .table_div table tbody td:last-child {
    border-width: 1px 0 0 0;
}
.table_div table th {
    padding: 5px;
}
#forum_topics .pagination {
    background-color: #002b36;
	margin: 0;
    padding: 0.25em;
    text-align: center;
#	border-style: solid;
#	border-width: 1px 0 0 0;
}
/*
#forum_topics thead .pagination {
    display: none;

}
*/
.table_div table .pagination {
 #   border-top: 1px solid;
	background-color: #002b36;
    padding: 5px 3px 10px;
}
#posts {
#    border-color: #000000;
    border-style: solid;
    border-width: 0 1px 1px;
}
.forumPost {
#    border-color: #000000 #C7C7C7 #C7C7C7;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
}
.forumPost:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.postInfo {
    background: none repeat scroll 0 0 #002b36;
    border-bottom: 1px solid;
    height: 1.5em;
    margin: 0;
    padding: 8px 0 5px 5px;
}
.forumAvatar {
    float: left;
    margin: 12px 4px 4px;
    width: 88px;
}
.postContent {
    margin-left: 92px;
    min-height: 84px;
    overflow: auto;
    padding: 10px 30px 1em 0;
}
.lastEdited {
	margin: 20px 10px 0;
	padding: 1px 5px;
	font-style: italic;
}

#ReplyField {
	background-color: #002b36;
    margin-bottom: 15px;
    resize: none;
    width: 865px;
}
.quote blockquote, pre, .markdown blockquote {
    background: none repeat scroll 0 0 #002b36;
    border: 1px dotted;
    margin: 0;
    padding: 4px;
}

.quote, pre, .markdown blockquote {
    margin: 0.5em 0 0.33em 0.5em;
}
.conversation_headline {
    background: none repeat scroll 0 0 #002b36;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    padding: 3px;
}
.conversation_body {
    padding: 10px 0 20px 30px;
}
#TextField {
    background-color: #002b36;
	margin-bottom: 15px;
    resize: none;
    /* width: 850px; */
}
#DeleteField {
    margin-bottom: 15px;
}
#InfoField {
    resize: none;
    /* width: 838px; */
}
#AvatarField {
    width: 620px;
}
img.imageResize {
}
.comment_text a, .postContent a, .announcement a, #description a, .conversation_body a {
    text-decoration: underline;
}

.formatMark {
    visibility: visible;
}

.frontSidebar {
    padding: 10 0 0 0;
    display: inline-block;
    float: right;
}

.sidebar_box {
    float: right;
    clear: both;
    width: 220px;
    display: inline;
}

.frontResize {
    height: auto;
    width: 90px;
}

.randomResize {
    height: auto;
    width: 200px;
}

.sidebar_box ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.announcementswrap {
    overflow: hidden;
    width: 70%;
    display: inline-block;
}
